@model GCMP.ViewModels.CategoryViewModel.CategoryViewModel

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div style="padding-top: 100px"></div>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName)
                @Html.ValidationMessageFor(model => model.CategoryName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status")
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Khởi tạo" class="btn btn-success pull-left col-md-push-1" onclick="submitForm()"/>
                &nbsp;
                <input type="button" value="Trở về" class="btn btn-warning pull-left col-md-push-1" onclick="goBack();"/>
             </div>
        </div>
    </div>
}
<script>
    function goBack() {
        window.history.back();
    }

    function submitForm() {
        var category = $("#CategoryName").val();
        var categoryViewModel = {
            CategoryName: $("#CategoryName").val(),
            Status: $("#Status").val()
        }

        if (category == null || category == "") {
            alert("Nhập vào loại hàng");
        }
        else {
            $.ajax({
                url: '/Category/CheckExistCategories',
                data: { category: category },
                type: 'POST',
                success: function (response) {
                    if (response == false) {
                        $.ajax({
                            url: '/Category/AddCategory',
                            data: categoryViewModel,
                            type: 'POST',
                            dataType: 'Json',
                            success: function (response) {
                            }
                        });
                        window.location.href = "/Category/";
                    } else {
                        alert("Loại hàng này đã có");
                    }
                }
            });
        }
    }

    //$(function () {

    //    $("#CategoryName").change(function () {
    //        var category = $("#CategoryName").val();
    //        $.post("/Category/CheckExistCategories", { "category": category },
    //                      function (data) {
    //                          if (data == false) {
    //                              toastr.success('Loại hàng này có thể sử dụng')
    //                          } else {
    //                              toastr.error("Loại hàng này đã được đăng ký!");
    //                              $("#CategoryName").val("");
    //                              $("#CategoryName").attr("placeholder", category);
    //                          }
    //                      });
           
    //    });
        
    //})

</script>


